
body {
  padding: 0;
  margin: 0;
  font-family: 'Baloo Bhaina', cursive;
}
h1 {
  margin-bottom: 35px;
}

.col {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding: 50px 15px 15px;
  background-color: #999999;
  border: 1px solid black;
  position: relative;
  border-collapse: collapse;
  margin-bottom: 2.5%;
}
.label {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 1.25rem;

}
.col {
  margin: 0 10px;
}
.navbar {
  background-color: #999999;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}
.navbar-default .navbar-collapse{
  background-color: #999999;
}
.navbar-nav li:nth-child(even) {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.collapse ul.navbar-nav a{
  color: black;
}
.col:nth-of-type(1) .label{
  background-color: #D59898;
}

.col:nth-of-type(2) .label{
  background-color: #C14543;
  color: #F3DAD0;
}
.col:nth-of-type(3) .label{
  background-color: #E5D198;
}

}
